
<h2>Listing Products</h2>
<form id="index-form" method="get" action="<%= products_path() %>">
<input type="text" id="search_terms" name="search_terms" size="35" value="<%= @search_terms %>"></input>
<p>Current browser is a <span id="device-type"><%= @device %></span> device</p>
<input type="submit" value="Search"></input>
<table class="table table-bordered table-hover">
  <thead class="table-heading">
    <tr>
      <th>Product code</th>
      <th>UPG<br>Description</th>
      <th>Compound</th>
      <th>Shielded?</th>
      <th>Application</th>
      <th>Pairs<br>count</th>
      <th>AWG</th>
      <th>Stranded?</th>
      <th>Solid?</th>
      <th>Length</th>
      <th>Carton<br>qty</th>
      <th>Actions</th>
    </tr>
    <tr>
      <td colspan=4></td>
      <td>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownApps" data-toggle="dropdown" aria-expanded="true"><%= @selected_app == "" ? "All Applications" : @selected_app %>
            <span class="caret"></span>
          </button>
          <ul id="dropdown-apps" class="dropdown-menu" role="menu" aria-labelledby="dropdownApps">
            <li role="presentation"><a role="menuitem" tabindex="-1" value="">ALL</li>
            <% @applications.each do |app| %>
              <li role="presentation"><a role="menuitem" tabindex="-1" value="<%= app.application %>"><%= app.application %></li>
            <% end %>
          </ul>
        </div>
          <input type="hidden" name="product[selected_app]" value="<%= @selected_app %>"></input>
          <input type="hidden" name="product[selected_awg]" value="<%= @selected_awg %>"></input>
          <input type="hidden" name="product[page]" value="<%= @page %>"></input>
      </form>
      </td>
      <td></td>
      <td>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownGauge" data-toggle="dropdown" aria-expanded="true"><%= @selected_awg == "" ? "All Gauges" : @selected_awg %>
            <span class="caret"></span>
          </button>
          <ul id="dropdown-awg" class="dropdown-menu" role="menu" aria-labelledby="dropdownGauge">
            <li role="presentation"><a role="menuitem" tabindex="-1" value="">ALL</li>
            <% @gauges.each do |gauge| %>
              <li role="presentation"><a role="menuitem" tabindex="-1" value="<%= gauge.awg %>"><%= gauge.awg %></li>
            <% end %>
          </ul>
        </div>
      </td>
      <td colspan=5></td>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr class="product-row">
        <td><%= product.product_code %>
        <%= hidden_field( :product,  :id, :value => product.id) %></td>
        <td><%= product.upg_description %></td>
        <td><%= product.compound %></td>
        <td><%= product.shielded ? "Yes" : "No" %></td>
        <td><%= product.application %></td>
        <td><%= product.pairs_count %></td>
        <td><%= product.awg %></td>
        <td><%= product.stranded ? "Yes" : "No" %></td>
        <td><%= product.solid ? "Yes" : "No" %></td>
        <td><%= product.length %></td>
        <td><%= product.carton_quantity %></td>
        <td>
          <div class="btn-group btn-group-sm product-btn">
            <%= link_to product_path(product), class: "btn btn-mini", type: "button" do %>
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true" aria-label="Left Align"></span>
            <% end %>
            <%= link_to edit_product_path(product), class: "btn btn-mini", type: "button" do %>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" aria-label="Left Align"></span>
            <% end %>
            <%= link_to product_path(product), class: "btn btn-mini",
            method: :delete, data: {confirm: "Delete product code: #{product.product_code}\nAre you sure?"}, type: "button" do %>
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" aria-label="Left Align"></span>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<h3>Go to page: <%= paginate @products %></h3>
<br>

<%= link_to 'New Product', new_product_path, class: "btn btn-primary", type: "button" %>
</div>
</div>
